.dashboard {

  display: flex;
  height: 100vh;

}

/* MENÚ LATERAL */

.sidebar {

  width: 250px;
  background-color: #2c3e50;
  color: white;

  padding: 20px;

}

.sidebar h3 {

  text-align: center;
  margin-bottom: 20px;

}

.sidebar ul {

  list-style: none;
  padding: 0;

}

.sidebar li {

  padding: 12px;
  margin-bottom: 5px;

  cursor: pointer;

  border-radius: 5px;

}

.sidebar li:hover {

  background-color: #34495e;

}

/* CONTENIDO */

.content {

  flex: 1;

  padding: 30px;

  background-color: #ecf0f1;

}
