<!-- BOTÓN VOLVER -->

<button routerLink="/administrativo" class="btn-volver">
  ⬅ Volver
</button>

<h2>Funciones del Administrador</h2>

<!-- BOTÓN AGREGAR -->

<button routerLink="/agregar-funcion" class="btn-agregar">
  ➕ Agregar Función
</button>

<!-- INDICADORES -->

<div class="indicadores">

  <div class="indicador verde">
    🟢 Cumplidas: {{ cumplidas }}
  </div>

  <div class="indicador amarillo">
    🟡 Pendientes: {{ pendientes }}
  </div>

  <div class="indicador rojo">
    🔴 Vencidas: {{ vencidas }}
  </div>

</div>

<!-- TABLA -->

<table>

  <thead>

    <tr>

      <th>Función</th>
      <th>Responsable</th>
      <th>Prioridad</th>
      <th>Fecha Límite</th>
      <th>Días restantes</th>
      <th>Estado</th>

    </tr>

  </thead>

  <tbody>

    <tr *ngFor="let f of listaFunciones">

      <!-- FUNCIÓN -->

      <td>
        {{ f.funcion }}
      </td>

      <!-- RESPONSABLE -->

      <td>
        {{ f.responsable }}
      </td>

      <!-- PRIORIDAD -->

      <td>

  <span
    [ngClass]="obtenerClasePrioridad(f.prioridad)"
  >

    {{ f.prioridad }}

  </span>

</td>


      <!-- FECHA -->

      <td>
        {{ f.fecha }}
      </td>

      <!-- DÍAS RESTANTES -->

      <td>

        <ng-container
          *ngIf="calcularDiasRestantes(f.fecha) as dias">

          <span *ngIf="dias >= 0">

            {{ dias }} días

          </span>

          <span
            *ngIf="dias < 0"
            class="alerta"
          >

            ⚠️ {{ dias * -1 }} días vencidos

          </span>

        </ng-container>

      </td>

      <!-- ESTADO -->

      <td>

        <div class="estado-container">

          <span
            class="circulo"
            [ngClass]="{
              'circulo-amarillo': calcularEstado(f.fecha, f.estado) === 'Pendiente',
              'circulo-verde': calcularEstado(f.fecha, f.estado) === 'Cumplido',
              'circulo-rojo': calcularEstado(f.fecha, f.estado) === 'Vencido'
            }"
          ></span>

          <span>

            {{ calcularEstado(f.fecha, f.estado) }}

          </span>

        </div>

      </td>

    </tr>

  </tbody>

</table>
